bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# KDevelop files
.kdev4/
xmr-stak.kdev4
/.vs/xmr-stak/v15
/CI
/CMakeFiles
/x64/Release
/xmr-stak-backend.dir/Release
/xmr-stak-c.dir/Release
/xmr-stak.dir/Release
/xmrstak_opencl_backend.dir/Release
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/tests/Release
/tests/x64/Debug
/tests/x64/Release
/x64/Debug
/xmr-stak-backend.dir/Debug
/xmr-stak-c.dir/Debug
/xmr-stak.dir/Debug
/xmrstak_opencl_backend.dir/Debug
